# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Archivos temporales generados durante el desarrollo
*.swp
*.swo
*.swn

# Archivos generados por pruebas
karma.conf.js
karma-*.conf.js
*.spec.ts

# Archivos generados por Protractor
protractor.conf.js


# Archivos de configuración de TSLint
tslint.json

# Archivos de configuración de EditorConfig
.editorconfig

# Archivos de configuración de TypeScript
tsconfig.json
tsconfig.*.json

# Configuración de Angular CLI
.angular-cli.json
.angular-cli-*.json

# Archivo de entorno de desarrollo de Angular
environment.ts

# Archivo de entorno de producción de Angular
environment.prod.ts

# Carpetas generadas por Angular CLI al ejecutar ng generate
e2e/

# Carpeta para respaldos
backups/